    </main>
  </div>
  <script>
    // Auto-dismiss alerts
    document.querySelectorAll('.alert').forEach(el => {
      setTimeout(() => { el.style.opacity = '0'; setTimeout(() => el.remove(), 300); }, 4000);
    });
  </script>
</body>
</html>
